* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    cursor: default;
}


/* #代表自己設定的標籤 .前面空白代表標籤裡的標籤 .代表自己設定的class標籤*/

#section1 .jumbotron {
    height: 70vh;
}


/* #代表自己設定的標籤 空白代表標籤裡的標籤 沒有.因為h1不是自己設的class*/

#section1 h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.5;
}

#section1 .container {
    margin: 0;
    width: 85%;
    position: relative;
    /*設定位置為相對位置，absolute為絕對位置*/
    top: 50%;
    left: 15%;
    right: 0%;
    -ms-transform: translateY(-50%);
    /*參數設定*/
    transform: translateY(-50%);
}


/* 主選單LOGO*/

header nav img {
    width: 75px;
}


/* 主選單標籤的距離*/

header .navbar-brand {
    margin-right: 30px;
}


/*主選單LOGO照片在768px以下時可以隨著螢幕縮小跟著縮小 */

@media screen and (max-width: 768px) {
    .navbar-brand img {
        width: 60px;
    }
}

header li {
    margin-right: 35px;
}

#section2 img {
    margin-bottom: -20;
    width: 150px;
    border-radius: 100%/*圖片四邊的圓角*/
}

#section2 h3,
#section3 h3 {
    padding-top: 25px;
    /*第二段往下修:元件(文字)跟區塊不能互相推開，所以要用padding。也可以用section去padding*/
    margin-bottom: 30px;
}

#section2 p {
    margin-top: 0px;
    margin-bottom: 40px;
}

#section3 {
    margin-top: 25px;
}

#section3 ul {
    margin-top: 60px;
}

#section3 li {
    margin-bottom: 20PX;
}

#section3 img {
    border-radius: 50%;
    box-shadow: 5PX 5PX 20PX #aaa;
    margin-bottom: 10PX;
    transition: transform 0.4s;
    transform: translateY(0);
    filter: grayscale(40%);
}

#section3 a:hover img {
    transform: translateY(-20PX);
    filter: none;
}

footer {
    background-color: #444;
    text-align: center;
    color: cornsilk;
    line-height: 50PX;
}